@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes heightGrow {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes widthGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}